process {

	withLabel: 'bcftools' {
		container = 'quay.io/biocontainers/bcftools:1.14--h88f3f91_0'
	}

}



profiles {
    
    singularity {
        singularity.runOptions = "--bind /mnt,/media"
        singularity.enabled = true 
        singularity.autoMounts = true
	singularity.cacheDir = "$HOME/.singularity"
    }

    docker {    
        docker.enabled = true    
        docker.temp = 'auto'    
        docker.fixOwnership = true    
        docker.runOptions = "-u `id -u`:`id -g` -v /home:/home -v /mnt:/mnt -v /data:/data"
    }

}
